.nav-container
  height: 8rem
  width: 100%
  background: #6C91C2
  display: flex
  justify-content: flex-end
  align-items: center
  position: relative
  input
    background: #494949
    outline: none
    border: none
    color: #000
    height: 80%
    border-radius: 10px

.logo
  position: absolute
  left: 100px
  font-weight: 900
  font-size: 3rem
  //not working fz: 2rem
  a
    text-decoration: none
    color: white

button

.genre-modal-container
  background: #242424
  top: 8rem
  height: 60rem
  width: 25rem
  z-index: 1000
  position: absolute

.list-name
  margin: 1rem 0rem 1rem 3rem
  cursor: pointer
  font-size: 1.8rem
  text-decoration: none
  color: #e9e9e9

.first-input
  margin-right: 20px

.second-input
  width: 5rem
  margin-right: 50px
  background: #8b8982
