<nav class="nav-container">
  <p class="logo">
    <a routerLink="/" routerLinkActive="active">Logo</a>
  </p>
  <div>
    <button (click)="isGenreModal = !isGenreModal">Genre</button>
      <div class="genre-modal-container" *ngIf="isGenreModal">
        <a
          *ngFor="let genreList of genreList"
          routerLink="movie-search-genre"
          routerLinkActive="active"
        >
          <p class="list-name">{{ genreList.name }}</p>
        </a>
      </div>
  </div>

  <button (click)='isYearModal = !isYearModal'>Year</button>
  <div class="genre-modal-container" *ngIf="isYearModal">
    <a
      *ngFor="let allYears of allYears"
      routerLink="movie-search-year"
      routerLinkActive="active"
    >
      <p (click)='yearClickHandler(allYears)' class="list-name">{{ allYears }}</p>
    </a>
  </div>


  <input class="second-input" type="text" placeholder="title" />
</nav>
