<div class="margin-top">
  <h1 class="genre-header">Action</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="action"
      autoplay="true"
      interval="50"
      [pauseOnHover]="true"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let action of action"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ action.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Comedy</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="comedy"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let comedy of comedy"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ comedy.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Drama</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="drama"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let drama of drama"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ drama.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Family</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="family"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let family of family"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ family.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Fantasy</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="fantasy"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let fantasy of fantasy"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ fantasy.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Horror</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="horror"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let horror of horror"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ horror.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
  <h1 class="genre-header">Romance</h1>
  <div class="sub-image-omni-container">
    <carousel
      *ngIf="romance"
      autoplay="true"
      interval="50"
      [pauseOnHover]="false"
      [overflowCellsLimit]="3"
      [cellWidth]="300"
      [cellsToShow]="6"
      loop="true"
      height="450"
    >
      <div
        class="carousel-cell sub-image-container"
        *ngFor="let romance of romance"
      >
        <a routerLink="movie-preview" routerLinkActive="active">
          <img src="https://image.tmdb.org/t/p/w200{{ romance.poster_path }}" />
        </a>
      </div>
    </carousel>
  </div>
</div>
