<div class="header-image-omni-container">
  <div class="header-image-container">
    <img src="{{ imageUrl }}" alt="image" />
    <p>Feelings Opacity</p>
  </div>
  <div class="header-image-container">
    <img src="{{ imageUrl }}" alt="image" />
    <p>Feelings Opacity</p>
  </div>
  <div class="header-image-container">
    <img src="{{ imageUrl }}" alt="image" />
    <p>Feelings Opacity</p>
  </div>
  <div class="header-image-container">
    <img src="{{ imageUrl }}" alt="image" />
    <p>Feelings Opacity</p>
  </div>
</div>
