body, html
  padding: 0px !important
  margin: 0px !important
  font-size: 62.5%
  background: #181818
  color: white

p
  font-family: Nunito-reg

@font-face
  font-family: 'Nunito-bold'
  src: url('./assets/Nunito-Bold.ttf')
@font-face
  font-family: 'Nunito-reg'
  src: url('./assets/Nunito-Regular.ttf')
@font-face
  font-family: 'Nunito-light'
  src: url('./assets/Nunito-Light.ttf')
@font-face
  font-family: 'Nunito-i'
  src: url('./assets/Nunito-Italic.ttf')
